@model HomeViewModel

<div class="featured-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <p class="text-muted">
                    <span class="typewrite d-inline" data-period="2000" data-type='[ " 5-Year Journey in Tech. ", "Fullstack Developer. ", "Software Engineer " ]'></span>
                </p>
                <h2>Hello, I’m <span>Coding Hub</span></h2>
                <h3 class="mb-20"> Welcome to my world</h3>
                <h5 class="text-muted">Explore .NET insights, Angular hacks, and tech experiences....</h5>
                <form class="input-group form-subcriber mt-30 d-flex">
                    <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                    <button class="btn bg-primary text-white" type="submit">Subscribe</button>
                </form>
            </div>
            <div class="col-lg-6 text-end d-none d-lg-block">
                <img src="./imgs/authors/featured.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Start Featured Posts -->
<div class="container">
    @await Html.PartialAsync("Partials/Home/_FeaturedPosts")
</div>
<!-- End Featured Posts -->

<div class="bg-grey pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-module-2">
                    @await Html.PartialAsync("Partials/Home/_MostLikedPosts")
                </div>
                <!-- Begin Latest Posts -->
                @await Html.PartialAsync("Partials/Home/_LatestPosts")
                <!-- End Latest Posts -->
            </div>
            <div class="col-lg-4">
                <div class="widget-area">
                    @await Component.InvokeAsync("Sidebar", "Default")
                </div>
            </div>
        </div>
    </div>
</div>