<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coding Hub - Personal Blog HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/theme/favicon.png">
    
    <!-- NewsBoard CSS  -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/widgets.css">
    <link rel="stylesheet" href="~/css/dark.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css">
    
    <!-- Sweet Alert 2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- Notyf -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/2.0.0/spinkit.min.css">
    
    <!-- Spinkit -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <!-- Quill Editor -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    
    <!-- Tagify -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.27.0/tagify.min.css" rel="stylesheet">
    
</head>
<body class="theme-mode">
<div class="scroll-progress primary-bg"></div>
<!-- Start Preloader -->
<div class="preloader text-center">
    <div class="circle"></div>
</div>

<!--Off canvas sidebar-->
<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar">
    @await Component.InvokeAsync("Canvas", "Default")
</aside>

<!-- Start Header -->
<header class="main-header header-style-1 font-heading">
    @await Component.InvokeAsync("Header", "Default")
</header>

<!--Start search form-->
<div class="main-search-form">
    @await Component.InvokeAsync("Search", "Default")
</div>

<!-- Start Main content -->
<main class="@ViewData["MainClass"]">
    @RenderBody()
</main>
<!-- End Main content -->

<!--site-bottom-->
<div class="site-bottom pt-50 pb-50">
    @{
        var showBottom = ViewData["ShowBottom"] as bool? ?? true;
        if (showBottom)
        {
            @await Component.InvokeAsync("Bottom", "Default")
        }
    }
</div>
<!--end site-bottom-->

<!-- Footer Start-->
<footer class="pt-50 pb-20 bg-grey">
    @await Component.InvokeAsync("Footer", "Default")
</footer>
<!-- End Footer -->

<div class="dark-mark"></div>

<!-- Vendor JS-->
<script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<script src="~/js/vendor/popper.min.js"></script>
<script src="~/js/vendor/bootstrap.min.js"></script>
<script src="~/js/vendor/jquery.slicknav.js"></script>
<script src="~/js/vendor/slick.min.js"></script>
<script src="~/js/vendor/wow.min.js"></script>
<script src="~/js/vendor/jquery.ticker.js"></script>
<script src="~/js/vendor/jquery.vticker-min.js"></script>
<script src="~/js/vendor/jquery.scrollUp.min.js"></script>
<script src="~/js/vendor/jquery.nice-select.min.js"></script>
<script src="~/js/vendor/jquery.magnific-popup.js"></script>
<script src="~/js/vendor/jquery.sticky.js"></script>
<script src="~/js/vendor/perfect-scrollbar.js"></script>
<script src="~/js/vendor/waypoints.min.js"></script>
<script src="~/js/vendor/jquery.theia.sticky.js"></script>

<!-- NewsBoard JS -->
<script src="~/js/main.js"></script>

<!-- Sweet Alert 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/packages/sweet-alert/alert-config.js" asp-append-version="true"></script>

<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>

<!-- Notyf -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="~/js/packages/notyf/notyf-config.js" asp-append-version="true"></script>

<!-- Slugify -->
<script src="https://cdn.jsdelivr.net/npm/slugify@1.6.6/slugify.min.js"></script>
<script src="~/js/packages/slugify/slugify-config.js" asp-append-version="true"></script>

<!-- Quill Editor -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

<!-- Tagify -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.27.0/tagify.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>