@model HttpErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>@Model.HttpStatusCode - Error</h1>
<p>@ViewData["ErrorMessage"]</p>
@if (ViewData["OriginalPath"] != null)
{
    <p>Requested URL: @ViewData["OriginalPath"]</p>
}