@model HttpErrorViewModel
@{
    ViewData["MainClass"] = "bg-grey pb-30"; // Set custom class for main in Layout
    ViewData["Title"] = "Internal Server Error";
}

<div class="container">
    <div class="row pt-80">
        <div class="col-lg-6 col-md-12 d-lg-block d-none pr-50">
            <img src="~/imgs/theme/page-not-found.png" alt="Internal server error">
        </div>
        <div class="col-lg-6 col-md-12 pl-50 text-md-center text-lg-left">
            <h1 class="mb-30 font-weight-900 page-500">500</h1>
            <p>
                Sorry, something went wrong on the server. Please try again later.<br>
                Visit the <a href="/">Homepage</a> or <a href="page-contact.html">Contact us</a> for further assistance.
            </p>
            <div class="form-group">
                <a class="button button-contactForm mt-30 text-white" href="/">Home page</a>
            </div>
        </div>
    </div>
</div>