@model ManagePostsViewModel
@{
    var posts = Model.Posts;
}

@section Scripts {
    <script>
        function updatePost(button) {
            let slug = button.getAttribute('data-slug');
            let urlTemplate = button.getAttribute('data-url');
            window.location.href = urlTemplate.replace('__slug__', encodeURIComponent(slug));
        }

        function deletePost(button) {
            let postId = button.getAttribute('data-id');
            let deleteUrl = `@Url.Action("DeletePost", "Accounts")/${postId}`;

            showConfirmAlert(
                'Are you sure?',
                "You won't be able to revert this!",
                'Yes, delete it!',
                'Cancel',
                () => {
                    $.ajax({
                        url: deleteUrl,
                        type: 'DELETE',
                        contentType: 'application/json',
                        success: function(data) {
                            if (data.success) {
                                showSuccessNotification('Your post has been deleted.');
                                if (data.html) {
                                    $('#posts-table-body').html(data.html); // Update table content
                                }
                            } else {
                                showErrorNotification('There was a problem deleting your post.');
                            }
                        },
                        error: function() {
                            showErrorNotification('There was a problem deleting your post.');
                        }
                    });
                }
            );
        }
    </script>
}

<div class="container single-content">
    <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
        <h1 class="entry-title mb-20 font-weight-900">
            Manage posts
        </h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 text-right-custom">
            <button class="btn btn-primary btn-block" onclick="location.href='@Url.Action("CreatePost", "Accounts")'">
                <i class="fa fa-edit"></i> Create new post
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table table-responsive-xl">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Created date</th>
                        <th>Views</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="posts-table-body">
                        @await Html.PartialAsync("Partials/Accounts/_PostsByCurrentUserTablePartial", Model)
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pagination-area mb-30">
                                @await Component.InvokeAsync("Pager", posts.MetaData)
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>