@model FooterViewModel
@{
    var categories = Model.Categories.ToList();
    var tags = Model.Tags.ToList();
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="sidebar-widget mb-30">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">About</h5>
                </div>
                <div class="textwidget">
                    <p>
                        Coding Hub was created using microservices and deployed with .NET C#.
                        Our platform provides scalable and efficient software development solutions.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6">
            <div class="sidebar-widget widget_categories mb-30">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Quick link</h5>
                </div>
                <ul class="font-small">
                    @if (categories.Count != 0)
                    {
                        foreach (var item in categories)
                        {
                            var categoryUrl = item.IsStaticPage ? "/" + item.Slug : "/category/" + item.Slug;
                            <li class="cat-item cat-item-2">
                                <a href="@categoryUrl">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="sidebar-widget widget_tagcloud mb-30">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Tagcloud</h5>
                </div>
                <div class="tagcloud mt-50">
                    @if (tags.Count != 0)
                    {
                        foreach (var item in tags)
                        {
                            var tagUrl = "/tag/" + item.Slug;
                            var tagDisplayName = "#" + item.Name;
                            <a class="tag-cloud-link" href="@tagUrl">@tagDisplayName</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="sidebar-widget widget_newsletter mb-30">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Newsletter</h5>
                </div>
                <div class="newsletter">
                    <p class="font-medium">Subscribe to our newsletter and get our newest updates right on your inbox.</p>
                    <form class="input-group form-subcriber mt-30 d-flex">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-primary text-white" type="submit">Subscribe</button>
                        <label class="mt-20"> <input class="mr-5" name="name" type="checkbox" value="1" required=""> I agree to the <a href="#" target="_blank">terms &amp; conditions</a> </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy-right pt-30 mt-20">
        <p class="float-md-start font-small text-muted">© 2024, Coding Hub - Personal Blog </p>
        <p class="float-md-end font-small text-muted">
            Development by <a href="/" target="_blank"> Duy Nguyen</a> | All rights reserved
        </p>
    </div>
</div>