@model SeriesViewModel

<div class="form-group">
    <label for="series-select">Select Series:</label>
    <select id="series-select" class="form-control">
        @foreach (var series in Model.Series)
        {
            <option value="@series.Id">@series.Title</option>
        }
    </select>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Series Title</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>