@model PostActivityLogsViewModel
@{
    var postActivityLog = Model.PostActivityLogs;
}

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>From Status</th>
            <th>To Status</th>
            <th>Note</th>
            <th>User ID</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in postActivityLog)
        {
            <tr>
                <td>@item.FromStatus</td>
                <td>@item.ToStatus</td>
                <td>@item.Note</td>
                <td>@item.UserId</td>
            </tr>
        }
        </tbody>
    </table>
</div>