/* wwwroot/css/site.css */

.small-swal-popup {
    max-width: 400px;
    font-size: 0.9rem;
    padding: 20px;
}

@media (min-width: 768px) {
    .small-swal-popup {
        max-width: 500px;
    }
}

.text-muted {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text-muted i {
    margin-right: 5px;
}

.text-muted:hover {
    color: #0056b3; /* Màu chữ khi hover */
}