@model AboutViewModel

@{
    ViewData["Title"] = "About Me - Coding Hub";
    ViewData["ShowBottom"] = false;
    ViewData["MainClass"] = "bg-grey pb-30"; // Set custom class for main in Layout
}

<div class="container single-content">
    <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
        <h1 class="entry-title mb-20 font-weight-900">
            About me
        </h1>
        <p class="text-muted">
            <span class="typewrite d-inline" data-period="2000" data-type='[ " 5-Year Journey in Tech. ", "Fullstack Developer. ", "Software Engineer " ]'></span>
        </p>
    </div>
    <!--end single header-->
    <figure class="image mb-20 m-auto text-center border-radius-10">
        <img class="border-radius-10" src="./imgs/about/about.jpg" alt="post-title"/>
    </figure>
    <!--figure-->
    <article class="entry-wraper">
        <p class="font-large">
            I'm Duy Nguyễn, the creator of Coding Hub, where I aim to share knowledge and experience with the community. Thank you for visiting!
            Let's explore together the exciting posts on .NET and Angular, the latest tech trends, and practical tutorials to help you elevate your coding skills.
        </p>
        <hr class="wp-block-separator is-style-wide">
        <h1 class="mt-30">Get in touch</h1>
        <hr class="wp-block-separator is-style-wide">
        <form class="form-contact comment_form" action="#" id="commentForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" name="website" id="website" type="text" placeholder="Phone">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="button button-contactForm">Send message</button>
            </div>
        </form>
    </article>
</div>